/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}

body {
  background-color: #1d1d1d;
  color: white;
  font-family: "Ubuntu", "Inter", "Roboto", sans-serif;
}
