<div class="home">
  <div class="content">
    <div class="helloworld">
      <img
        src="https://avatars.githubusercontent.com/u/129242309?v=4"
        alt="Foto"
      />
      <div class="text">
        <p>Olá, eu sou</p>
        <h2>João Pedro Aveiro</h2>
        <span>Desenvolvedor Back-End</span>
        <div class="descricao">
          <h4>Entusiasta e amante de tecnologia e<br />programação.</h4>
        </div>
      </div>
    </div>
    <div class="sobre-mim">
      <h2>Quer conhecer um pouco mais sobre mim?</h2>
      <span>Bora ver alguns dos meus projetos?!</span>
      <div class="projetos">
        <button (click)="redirectTo('/projetos')">Projetos</button>
      </div>
    </div>
  </div>
</div>
