@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray1: #afafc9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray1: var(--gray1);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Segoe UI, Roboto, Helvetica, Arial, sans-serif
}

@keyframes shine {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

.animate-shine {
  background-size: 200% auto;
  animation: shine 3s linear infinite;
}
